@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: #9868ec;
    --primary-color-dark: #150926;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.6;
    background: var(--primary-color);
    margin: 0;
    padding: 0;
}

.container {
    width: 640px;
    background: #ffffff;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}

form input,
form label,
form button {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

form input {
    padding: 0 20px;
    font-size: 20px;
    height: 50px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    background: var(--primary-color);
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    height: 50px;
}

form button:hover {
    background: var(--primary-color-dark);
}
.relogio {
    font-size: 60px;
    text-align: center;
    margin: 20px 0;
}   
.pausado{
    color: orange;
}
